* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    background-color: #1f2937;
    padding-bottom: 20px;
    
}
.container{
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.hero-wrapper{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 666px;
    width:100%;
    
    
}

.hero-title{

    color:#ffffff;
    font-size: clamp(10px, 5vw, 45px);
    margin-bottom: 30px;

}

.hero-description{
    color:#ffffff;
    
    font-size: clamp(10px, 2.5vw, 18px);
}



.hero-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.btn-signup {
    
    
    display: inline-block;
    
    

    background-color: #3b82f6; 
    color: #ffffff;
    
    
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    
    margin-top:20px; 
    margin-bottom:20px; 
    padding: 18px 28px;
    
   
    border-radius: 8px;
    
    
    transition: background-color 0.2s ease;
}

.btn-signup:hover {
    background-color: #2563eb;
}

@media screen and (min-width: 640px) {
    .hero-wrapper {
        flex-direction: row;       
        justify-content: space-between;
        align-items: center;   
        text-align: left;          
        gap: 48px; 
        padding-top: 30px; 
        padding-bottom: 30px;        
        /* max-width: 100%; */
        /* width: 100%; */
        max-width: 1120px; 
        margin: 0 auto;

    }


    
    .hero-content {
        flex: 1;                   
        align-items: flex-start;   
    }

    
    .hero-img {
        flex: 1;                  
        max-width: 600px;   
              
    }
}